body,h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

#logo {
	background-color: #50b9b4;
}

.w3-bar {
	background-color: #50b9b4;
	color: yellow;
}

.headergrid {
	width: 25%;
	height: 200px;
	/*border: 1px solid #000;*/*/
}
.headerthird {
	width: 50%;
}

#logotip {
	width: 40%;
}

.dogimg {
	width: 100%;
}

#addr {
	padding-top: 25px;
	font-size: 19px;
	line-height: 120%;
}

#go {
	padding-top: 25px;
	font-size: 19px;
	line-height: 120%;
	text-align: right;
}

#btngo {
	width: 92%;
	margin-top: 30px;
}

#visit {
	padding: 128px 16px;
}

.abjpg {
	width: 100%;
	cursor:pointer;
}

.icon {
	width: 40%;
}

.otbivka {
	width: 10%;
}

.block {
	margin-top: 50px;
}

.txt {
	color: #a21a5c;
}

.iconsblock {
	margin-top: 24px;
}

.header {
	background-color: #50b9b4;
}

#footer {
	background-color: #50b9b4;
	color: yellow;
	margin-top: 50px;
}

#demo {
	background-color: #50b9b4;
	color: yellow;
}

.material-icons {
	color: #50b9b4;
}

.faq {
	color: #50b9b4;
}

.sofa {
	width: 30%;
	float: left;
	margin: 10px 10px 10px 0;
}

.inputfilter {
	width: 30%;
	margin: 0 auto;
}

.mySlides {
	display:none;
}

.myform > * {
	color: #50b9b4;
}

/*sticky navbar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
