body,h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

#logo {
	background-color: #50b9b4;
}

.w3-bar {
	background-color: #50b9b4;
	color: yellow;
}

#logotip {
	width: 40%;
}

.dogimg {
	width: 100%;
}

#addr {
	padding-top: 60px;
}

#visit {
	padding: 128px 16px;
}

.abjpg {
	width: 100%;
	cursor:pointer;
}

.icon {
	width: 40%;
}

.otbivka {
	width: 10%;
}

.block {
	margin-top: 50px;
}

.txt {
	color: #a21a5c;
}

.iconsblock {
	margin-top: 24px;
}

.header {
	margin-top: 46px;
}

#footer {
	background-color: #50b9b4;
	color: yellow;
	margin-top: 50px;
}

#demo {
	background-color: #50b9b4;
	color: yellow;
}

.material-icons {
	color: #50b9b4;
}

.faq {
	color: #50b9b4;
}

.sofa {
	width: 30%;
	float: left;
	margin: 10px 10px 10px 0;
}

