<!DOCTYPE html>
<html>
<title>Grooming</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Собственный стиль -->
<link rel="stylesheet" href="static/css/style.css">
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

	<header class="w3-container header w3-cell-row w3-border-bottom">
		<div class="w3-container w3-cell w3-mobile w3-center">
			<img src="static/images/logo1.jpg" alt="Logo" class="w3-left" style="width:40%; margin: 5px;">
			<p class="adrres w3-text-white w3-xlarge w3-center"><b>Адрес: г.Бобруйск Пр-т Строителей 60, к.3 кв 129 
			Ежедневно 9:00 - 20:00</b></p>
		</div>

		<div class="w3-container w3-cell w3-cell-middle w3-text-white w3-xxlarge w3-mobile" style="width: 40%;">
			<!--Адрес: г.Бобруйск Пр-т Строителей 60, к.3 кв 129 -->
			<!--Ежедневно 9:00 - 20:00  -->
		</div>

		<div class="w3-container w3-cell w3-cell-middle w3-mobile">

				<p>
					<div class="w3-bar">
						<div class="w3-bar-item social instagram">
							<a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
						</div>
						<div class="w3-bar-item social facebook">
							<a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
						</div>
						<div class="w3-bar-item social vk">
							<a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
						</div>
						<div class="w3-bar-item social odnoklassniki">
							<a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>
						</div>
						<div class="w3-bar-item w3-mobile social viber">
							<a href="#" target="_blank"><i class="fa fa-viber fa-2x"></i></a>
						</div>
					</div>
					<a href="#" class="material-icons w3-button w3-xlarge w3-round-large w3-ripple w3-teal">pets Сделать заказ pets</a>
				</p>
		</div>
	</header>

	<!-- menu -->
	<div class="w3-card" id="navbar">
		<div class="w3-bar w3-card w3-padding-small">
			<div class="w3-bar-item"><a href="tel:+375 29 842-31-62"><i class="fa fa-phone w3-bar-item w3-large w3-button w3-round-large w3-teal w3-ripple"></i></a><span class="w3-margin w3-xlarge tel">+375 29 842-31-62</span></div>
			<div class="w3-right w3-border">
				<a href="#about" class="w3-bar-item w3-button w3-mobile w3-hide-small">Обо мне</a>
				<a href="#prices" class="w3-bar-item w3-button w3-mobile w3-hide-small">Цены</a>
				<a href="#adv" class="w3-bar-item w3-button w3-mobile w3-hide-small">Преимущества</a>
				<a href="#order" class="w3-bar-item w3-button w3-mobile w3-hide-small">Онлайн-заказ</a>

				<a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-teal w3-border w3-right w3-hide-large w3-hide-medium w3-" onclick="myMobileMenu()">МЕНЮ</a>
			</div>
		</div>


		<div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-card w3-border">
			  <a href="#about" class="w3-bar-item w3-button w3-hover-teal">Обо мне</a>
			  <a href="#prices" class="w3-bar-item w3-button w3-hover-teal">Цены</a>
			  <a href="#adv" class="w3-bar-item w3-button w3-hover-teal">Преимущества</a>
			  <a href="#order" class="w3-bar-item w3-button w3-hover-teal">Онлайн-заказ</a>
		</div>
	</div>

	<!-- Slider -->
	<!--dogimg-->
	<div class="w3-display-container w3-text-white slideabs">	
		<img src="static/images/img1.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<div class="w3-display-bottommiddle w3-xxlarge">
			<p class="w3-row w3-hide-small sl w3-center w3-round-large w3-opacity w3-text-white w3-mobile">ПОДАРИ СВОЕМУ ПИТОМЦУ ЗДОРОВЬЕ И КРАСОТУ !<p>
		</div>
	</div>
	<div class="w3-display-container w3-text-white slideabs">
		<img src="static/images/img2.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<div class="w3-display-bottommiddle w3-xxlarge">
			<p class="w3-row w3-hide-small sl w3-center w3-round-large w3-opacity w3-text-white">ПРОФЕССИОНАЛЬНЫЙ УХОД ЗА ВАШИМ ПИТОМЦЕМ !</p>
		</div>
	</div>	
	<div class="w3-display-container w3-text-white slideabs">	
		<img src="static/images/img33.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<div class="w3-display-bottommiddle w3-xxlarge">
			<p class="w3-row w3-hide-small sl w3-center w3-round-large w3-opacity w3-text-white">СДЕЛАЕМ ВАШЕГО ПИТОМЦА СНОГСШИБАТЕЛЬНЫМ !</p>
		</div>
	</div>
	<!--END SLIDER-->
		
	<!-- about -->
	<a name="about"></a>
	<div class="w3-container w3-center" style="margin-top: 30px;">
		<img src="static/images/otbivka7.jpg" class="otbivka w3-image">
	</div>


<div class="w3-container w3-center w3-padding-32">
    <h3 style="color:#a21a5c"><b>Обо мне</b></h3>
    <!--<img src="static/images/sofa.jpg" alt="Me" class="w3-round-large w3-image w3-padding-32" width="300" height="650">-->
	<div class="w3-content w3-justify" style="max-width:800px">
	      <h3 class="w3-center" style="color:#a21a5c"><b>ВАШ МАСТЕР – ШУМСКАЯ ОЛЕСЯ ВЛАДИМИРОВНА (грумер-универсал)</b></h3>
	     	<img src="static/images/sofa.jpg" alt="Me" class="imgabout w3-round-large w3-image" width="300" height="650">
	     <p class="w3-large">
	Груминг – это не роскошь, а необходимость, если Вы хотите, чтобы Ваш питомец был всегда красивым.</p>
	<p class="w3-large">
	 Все мы знаем, как важно обеспечить нашим питомцам качественное питание, чтобы поддерживать их здоровыми и сильными. Однако, также необходимо ухаживать за шерстью и когтями животного и проводить различные гигиенические или косметические процедуры.</p>
	<p class="w3-large">
	 Я рада приветствовать на своем сайте своих постоянных друзей и будущих посетителей. 
	Моя работа с собаками в качестве грумера составляет более восьми лет. Желание создавать красоту, является основным мотивом моей работы.</p>
	<p class="w3-large">
	 Я знаю, каким трудным может быть выбор грумера, который вам подойдет. Вот по этой причине в моей Зоостудии я отношусь к животным с заботой и добротой, терпением и уважением, но, прежде всего, приоритетом моей работы является забота о безопасности вашего питомца, здоровье и благополучие.
	Основными принципами в моей работе являются: понимание психологии животного, бережный подход и выполнения эстетических пожеланий хозяина. Индивидуальный подход к каждому питомцу, предоставление удобного для вас времени, демократические цены, которые позволят проводить регулярный уход.</p>
	<p class="w3-large">
	 Работая с разными породами собак, применяю профессиональную косметику. Максимально качественно подбираю косметику с учетом породных особенностей и состояния шерсти вашего питомца.</p> 
	<p class="w3-large">
	Я стремлюсь к постоянному развитию и совершенствованию моих умений и навыков в области профессионального груминга. Для этого постоянно выезжаю на мастер-классы с целью повышения квалификации по отдельным породам собак, с участием профессиональных грумеров России и Европы. Участвую в выставках собак, помогаю своим клиентам в качестве грумера.</p>
	</div>
</div>

<div class="w3-content w3-justify" style="max-width:800px">
	<div class="w3-row-padding" style="margin:0 -16px">

	
	  <div class="w3-col s6 l6 m6">
	    <img src="static/images/sert1.jpg" style="width:100%; margin:8px;"
	    	class="w3-hover-shadow">
	  </div>

	  <div class="w3-col s6 l6 m6">
	    <img src="static/images/sert2.jpg" style="width:100%; margin:8px;" 
	    	class="w3-hover-shadow">
	  </div>
	
	  <div class="w3-col s6 l6 m6">
	    <img src="static/images/sert3.jpg" style="width:100%; margin:8px;"
	    	class="w3-hover-shadow">
	  </div>

	  <div class="w3-col s6 l6 m6">
	    <img src="static/images/sert4.jpg" style="width:100%; margin:8px;"
	    	class="w3-hover-shadow">
	  </div>
	</div>
</div>

	<!-- end about -->
	<!-- services -->
	<!-- otbivka -->
	<div class="outbd">
		<div class="insidebd"></div>	
	</div>
	<!--Gallery-->
	<div class="w3-container w3-padding w3-center" style="background-color:#50b9b4">
		 <h3 style="color:#a21a5c"><b>ГАЛЛЕРЕЯ МОИХ РАБОТ</b></h3>
		<div class="w3-row-padding" style="background-color:#50b9b4">

			<!-- decor -->
			<div class="w3-col s6">
				<img src="static/images/dec1.jpg" name="decor" alt="decor" style="width:100%;cursor:pointer" onclick="openModalDecor();currentDivDecor(1)" class="w3-image w3-hover-shadow">
				<label for="decor"><b> Декоративные породы</b></label>
			</div>
			
			<!-- mid -->
			<div class="w3-col s6">
				<img src="static/images/mid1.jpg" name="middle" alt="Mid" style="width:100%;cursor:pointer" onclick="openModalMid();currentDivMid(1)" class="w3-image w3-hover-shadow">
				<label for="middle"><b> Средние породы</b></label>
			</div>
			
			<!--met-->
			<div class="w3-col s6">
				<img src="static/images/met1.jpg" name="metis" alt="decor" style="width:100%;cursor:pointer" onclick="openModalMet();currentDivMet(1)" class="w3-image w3-hover-shadow">
				<label for="metis"><b>Метисы</b></label>
			</div>
			
			<!--trim-->
			<div class="w3-col s6">
				<img src="static/images/trim1.jpg" name="trimm" alt="decor" style="width:100%;cursor:pointer" onclick="openModalTrim();currentDivTrim(1)" class="w3-image w3-hover-shadow">
				<label for="trimm"><b>Триммингующие породы</b></label>
			</div>
		</div>
	</div>
	
	<!--decor-->
<div id="myModalDecor" class="w3-modal w3-grey">
 <span class="w3-text-red w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModalDecor()" style="cursor:pointer">×</span>
 <div class="w3-modal-content">

  <div class="w3-content" style="max-width:1100px">
	
	{% for i in range(1,22) %}
   <img class="dec" src="static/images/dec{{i}}.jpg" style="width:100%">
   {% endfor %} 
   <div class="w3-row w3-teal w3-center">
	<div class="w3-center w3-padding">
	  <div class="w3-section">
	    <button class="w3-button w3-light-grey" onclick="plusDivsDecor(-1)">❮ Prev</button>
	    <button class="w3-button w3-light-grey" onclick="plusDivsDecor(1)">Next ❯</button>
	  </div>
	  {% for i in range(1,22) %}
	  <button class="w3-button bdecor w3-border" onclick="currentDivDecor({{i}})">{{i}}</button> 
	  {% endfor %}
	</div>
   </div> <!-- End row -->
  </div> <!-- End w3-content -->
  
 </div> <!-- End modal content -->
</div> <!-- End modal -->

	<!--Mid-->
<div id="myModalMid" class="w3-modal w3-grey">
 <span class="w3-text-red w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModalMid()" style="cursor:pointer">×</span>
 <div class="w3-modal-content">

  <div class="w3-content" style="max-width:1100px">
	
	{% for i in range(1,2) %}
   <img class="mid" src="static/images/mid{{i}}.jpg" style="width:100%">
   {% endfor %} 
   <div class="w3-row w3-teal w3-center">
	<div class="w3-center w3-padding">
	  <div class="w3-section">
	    <button class="w3-button w3-light-grey" onclick="plusDivsMid(-1)">❮ Prev</button>
	    <button class="w3-button w3-light-grey" onclick="plusDivsMid(1)">Next ❯</button>
	  </div>
	  {% for i in range(1,2) %}
	  <button class="w3-button bmid w3-border" onclick="currentDivMid({{i}})">{{i}}</button> 
	  {% endfor %}
	</div>
   </div> <!-- End row -->
  </div> <!-- End w3-content -->
  
 </div> <!-- End modal content -->
</div> <!-- End modal -->

	<!--Met-->
<div id="myModalMet" class="w3-modal w3-grey">
 <span class="w3-text-red w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModalMet()" style="cursor:pointer">×</span>
 <div class="w3-modal-content">

  <div class="w3-content" style="max-width:1100px">
	
	{% for i in range(1,3) %}
   <img class="met" src="static/images/met{{i}}.jpg" style="width:100%">
   {% endfor %} 
   <div class="w3-row w3-teal w3-center">
	<div class="w3-center w3-padding">
	  <div class="w3-section">
	    <button class="w3-button w3-light-grey" onclick="plusDivsMet(-1)">❮ Prev</button>
	    <button class="w3-button w3-light-grey" onclick="plusDivsMet(1)">Next ❯</button>
	  </div>
	  {% for i in range(1,3) %}
	  <button class="w3-button bmet w3-border" onclick="currentDivMet({{i}})">{{i}}</button> 
	  {% endfor %}
	</div>
   </div> <!-- End row -->
  </div> <!-- End w3-content -->
  
 </div> <!-- End modal content -->
</div> <!-- End modal -->	

	<!--Trim-->
<div id="myModalTrim" class="w3-modal w3-grey">
 <span class="w3-text-red w3-xxlarge w3-hover-text-grey w3-container w3-display-topright" onclick="closeModalTrim()" style="cursor:pointer">×</span>
 <div class="w3-modal-content">

  <div class="w3-content" style="max-width:1100px">
	
	{% for i in range(1,5) %}
   <img class="trim" src="static/images/trim{{i}}.jpg" style="width:100%">
   {% endfor %} 
   <div class="w3-row w3-teal w3-center">
	<div class="w3-center w3-padding">
	  <div class="w3-section">
	    <button class="w3-button w3-light-grey" onclick="plusDivsTrim(-1)">❮ Prev</button>
	    <button class="w3-button w3-light-grey" onclick="plusDivsTrim(1)">Next ❯</button>
	  </div>
	  {% for i in range(1,5) %}
	  <button class="w3-button btrim w3-border" onclick="currentDivTrim({{i}})">{{i}}</button> 
	  {% endfor %}
	</div>
   </div> <!-- End row -->
  </div> <!-- End w3-content -->
  
 </div> <!-- End modal content -->
</div> <!-- End modal -->

	<!--end Gall-->
	
	<div class="outbd">
		<div class="insidebd"></div>	
	</div>
	<!--Серый -->
	<div class="w3-container w3-center w3-grey">
		<img src="static/images/otbivka.jpg" alt="otbivka" class="otbivka w3-image">
		<div class="w3-padding">
			<b class="w3-large">После визита к нам</b> <br><span class="w3-xlarge txt"><strong>ВАШ ПИТОМЕЦ БУДЕТ НЕОТРАЗИМ!</strong></span>
			<p>`<button class="w3-button w3-teal w3-round-large w3-ripple">ЗАПИСАТЬСЯ НА СТРИЖКУ</button></p>
		</div>
	</div>

	<div class="outbd">
		<div class="insidebd"></div>	
	</div>

	<div class="w3-container w3-center block" style="margin-top: 30px;">
		<img src="static/images/otbivka2.jpg" alt="otbivka" class="otbivka w3-image">
		<div class="w3-panel">
			<p><strong class="w3-xlarge txt">ПОЛНЫЙ КОМПЛЕКС УСЛУГ ДЛЯ СОБАК</strong></p>
		</div>
	</div>
	<hr>

	<!-- services icons -->
		
			<div class="w3-row-padding w3-margin-top">
				<div class="w3-half w3-mobile w3-center">
					<img src="static/images/trimming.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Стрижка</b>
					</div>
				</div>
				<div class="w3-half	 w3-mobile w3-center">
					<img src="static/images/koltun.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Вычесывание колтунов</b>
					</div>
				</div>
			</div>	
	<hr>

	<div class="w3-row-padding w3-margin-top">
		<div class="w3-half w3-mobile w3-center">
			<img src="static/images/kupanie.jpg" class="w3-image" style="width: 40%;">
			<div class="w3-panel">
				<b class="w3-large w3-margin-left">Купание</b>
			</div>
		</div>
		<div class="w3-half	 w3-mobile w3-center">
			<img src="static/images/sushka.jpg" class="w3-image" style="width: 40%;">
			<div class="w3-panel">
				<b class="w3-large w3-margin-left">Сушка</b>
			</div>
		</div>
	</div>	
	<hr>

	<div class="w3-row-padding w3-margin-top">
				<div class="w3-half w3-mobile w3-center">
					<img src="static/images/kogti.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Подстригание когтей</b>
					</div>
				</div>
				<div class="w3-half	 w3-mobile w3-center">
					<img src="static/images/chistka.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Чистка глаз и ушей</b>
					</div>
				</div>
			</div>	
	<!-- price -->
	<!--Фуксия-->
<a name="prices"></a>
	<!-- otbivka -->
	<div class="outbd">
		<div class="insidebd"></div>	
	</div>
	<div class="w3-container w3-center" style="background-color: #50b9b4;">
		<img src="static/images/koshel.jpg" class="otbivka w3-image">
		<div class="w3-panel" style="color: white;"><b class="w3-xlarge">ЦЕНЫ НА УСЛУГИ</b></div>
	<!--</div>-->

	<p class="w3-padding w3-center"><button onclick="showPrice('price')" class="w3-button w3-xlarge w3-round-large w3-ripple w3-teal">Узнать цены</button></p>
	</div>
<!-- Таблица с ценами на породы -->
<!-- Декоративаные -->
<!-- класс price для аккардиона -->
	<div class="w3-container w3-hide" id="price">
		<!-- Фильтрация таблицы -->
		<div class="w3-panel w3-center">
			<label>Выберите свою породу</label>
			<input class="w3-input w3-border inputfilter" oninput="w3.filterHTML('.filter', '.item', this.value)" placeholder="Начните вводить название породы" type="text">
		</div>

		
		<table class="mw w3-table-all w3-large w3-hoverable">
			<tr class="item">
				<th class="w3-border w3-xlarge">Дополнительные услуги</th>
				<th class="w3-border w3-xlarge">Стоимость BYN</th>
			</tr>
			<tr class="item">
				<td class="w3-border">Стрижка собак</td>
				<td class="w3-border"><b style="color:#a21a5c;">от 17 руб.</b></td>
			</tr>
			<tr class="item">
				<td class="w3-border">Стрижка когтей</td>
				<td class="w3-border">2 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Вычесывание колтунов</td>
				<td class="w3-border">5 руб./час</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Мытье шампунем и сушка</td>
				<td class="w3-border">от 2 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Выезд на дом к клиенту (по городу)</td>
				<td class="w3-border">3 руб.</td>
			</tr>
		</table>

			<div class="w3-panel w3-center"><b class="w3-xlarge">Декоративные породы</b></div>



		<table class="mw w3-table-all w3-large w3-hoverable filter">
			<tr class="item">
				<th class="w3-border">Порода</th>
				<th class="w3-border">Стрижка</th>
				<th class="w3-border">Мойка</th>
			</tr>

			<tr class="item">
				<td class="w3-border">Йоркширский терьер (модельная)</td>
				<td class="w3-border">15 руб.</td>
				<td class="w3-border">2 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Йоркширский терьер (гигиеническая)</td>
				<td class="w3-border">8 руб.</td>
				<td class="w3-border">2 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Чихуа́хуа</td>
				<td class="w3-border">20 руб.</td>
				<td class="w3-border">2 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Мальтийская болонка</td>
				<td class="w3-border">15 руб.</td>
				<td class="w3-border">2 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Бишон фризе</td>
				<td class="w3-border">20 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Болонез</td>
				<td class="w3-border">15 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Бивер йорк</td>
				<td class="w3-border">17 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Китайская хохлатая пуховка</td>
				<td class="w3-border">17 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пекинес пуховый</td>
				<td class="w3-border">19 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пекинес гладкошерстный</td>
				<td class="w3-border">17 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Лхаса апсо</td>
				<td class="w3-border">19 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Шпиц</td>
				<td class="w3-border">19 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Папийон</td>
				<td class="w3-border">15 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Ши-тцу</td>
				<td class="w3-border">19 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
		</table>
	
	<!-- Средние -->
	<div class="w3-panel w3-center"><b class="w3-xlarge">Средние породы</b></div>
		<table class="mw w3-table-all w3-large w3-hoverable filter">
			<tr class="item">
				<th class="w3-border">Порода</th>
				<th class="w3-border">Стрижка</th>
				<th class="w3-border">Мойка</th>
			</tr>

			<tr class="item">
				<td class="w3-border">Кавалер кинг чарльз спаниель</td>
				<td class="w3-border">17 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Русский спаниель (модельная)</td>
				<td class="w3-border">25 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Русский спаниель (под машинку)</td>
				<td class="w3-border">22 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Английский кокер спаниель (модельная)</td>
				<td class="w3-border">25 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Английский кокер спаниель (под машинку)</td>
				<td class="w3-border">22 руб.</td>
				<td class="w3-border">2.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Американский кокер спаниель (модельная)</td>
				<td class="w3-border">27 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Американский кокер спаниель (под машинку)</td>
				<td class="w3-border">22 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Чау-чау</td>
				<td class="w3-border">40 руб.</td>
				<td class="w3-border">4.5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Шелти</td>
				<td class="w3-border">30 руб.</td>
				<td class="w3-border">4 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пшеничный терьер</td>
				<td class="w3-border">35 руб.</td>
				<td class="w3-border">4 руб.</td>
			</tr>
		</table>

	<div class="w3-panel w3-center"><b class="w3-xlarge">Пудели</b></div>
		<table class="mw w3-table-all w3-large w3-hoverable filter">
			<tr class="item">
				<th class="w3-border">Порода</th>
				<th class="w3-border">Стрижка</th>
				<th class="w3-border">Мойка</th>
			</tr>

			<tr class="item">
				<td class="w3-border">Пудель до 35 см в холке (под машинку)</td>
				<td class="w3-border">20 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пудель до 35 см в холке (модельная)</td>
				<td class="w3-border">25 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пудель 35-40 см в холке (под машинку)</td>
				<td class="w3-border">27 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пудель 35-40 см в холке (модельная)</td>
				<td class="w3-border">30 руб.</td>
				<td class="w3-border">3 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пудель от 45 см в холке (под машинку)</td>
				<td class="w3-border">35 руб.</td>
				<td class="w3-border">5 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Пудель от 45 см в холке (модельная)</td>
				<td class="w3-border">50 руб.</td>
				<td class="w3-border">5 руб.</td>
			</tr>
		</table>

		<div class="w3-panel w3-center"><b class="w3-xlarge">Тримингующиеся породы</b></div>

		<table class="mw w3-table-all w3-large w3-hoverable filter">
			<tr class="item">
				<th class="w3-border">Порода</th>
				<th class="w3-border">Стрижка</th>
				<th class="w3-border">Триминг</th>
			</tr>

			<tr class="item">
				<td class="w3-border">Вест-хайленд-уайт</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Керн терьер</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Грифон</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Джек рассел терьер</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Скотч терьер</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Фокс терьер</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Цвергшнауцер</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Миттельшнауцер</td>
				<td class="w3-border">25 руб.</td>
				<td class="w3-border">40 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Ризеншнауцер</td>
				<td class="w3-border">35 руб.</td>
				<td class="w3-border">60 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Эрдельтерьер</td>
				<td class="w3-border">35 руб.</td>
				<td class="w3-border">55 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Такса жесткошерстная</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
		</table>

		<div class="w3-panel w3-center"><b class="w3-xlarge">Метисы длинношерстные</b></div>

		<table class="mw w3-table-all w3-large w3-hoverable filter">
			<tr class="item">
				<th class="w3-border">Порода</th>
				<th class="w3-border">Стрижка</th>
				<th class="w3-border">Триминг</th>
			</tr>

			<tr class="item">
				<td class="w3-border">Метис (высота в холке до 35см)</td>
				<td class="w3-border">18 руб.</td>
				<td class="w3-border">25 руб.</td>
			</tr>
			<tr class="item">
				<td class="w3-border">Метис (высота в холке 35-45 см)</td>
				<td class="w3-border">25 руб.</td>
				<td class="w3-border">35 руб.</td>
			</tr>
		</table>
	</div>

	<div class="outbd">
		<div class="insidebd"></div>	
	</div>
	<div class="w3-container w3-center w3-grey">
			<img src="static/images/vopros.jpg" alt="otbivka" class="otbivka w3-image">
	</div>	

	<!-- FAQ -->
	<!--серый-->
	<div class="w3-container w3-center w3-mobile w3-responsive w3-grey">
		<div class="w3-panel" style="color: #a21a5c;"><b class="w3-xlarge">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</b></div>
		
		<div onclick="faq('qone')" class="w3-button w3-border w3-block w3-left-align w3-light-grey w3-hover-white"><i class="material-icons w3-margin-right">live_help</i><b class="faq w3-large">Сколько длится стрижка? Я успею съездить по делам?</b></div>
		<div class="w3-container w3-light-grey w3-hide" id="qone"><blockquote class="w3-panel w3-leftbar w3-light-grey"><i>Комплекс процедур (купание, стрижка, сушка, чистка глаз и ушей, подстригание когтей) длится от 1 часа до 1,5 часов.
		Конечно, Вы можете уехать по делам. Ничего страшного, если опоздаете: Ваш пушистый друг подождет Вас в салоне, в отдельном помещении, мы за ним присмотрим!</i></blockquote></div>
		
		<div onclick="faq('qtwo')" class="w3-button w3-border w3-block w3-left-align w3-light-grey w3-hover-white"><i class="material-icons w3-margin-right">live_help</i><b class="faq w3-large">Может быть удобнее вызвать мастера на дом?</b></div>
		<div class="w3-container w3-light-grey w3-hide" id="qtwo"><blockquote class="w3-panel w3-leftbar w3-light-grey"><i>Это может негативно сказаться на психологическом состоянии животного. Есть риск, что Ваш любимец потеряет ощущение «мой дом – моя крепость», начнет бояться гостей, испытывать недовольство, что его личное пространство 
		нарушили… Опыт показал – дома собаки и кошки волнуются больше, чем в салоне. Кроме того, профессиональные грумеры в принципе не выезжают на дом, так как им требуются специальные приспособления и инструменты.</i></blockquote></div>

		<div onclick="faq('qthree')" class="w3-button w3-border w3-block w3-left-align w3-light-grey w3-hover-white w3-left-align"><i class="material-icons w3-margin-right">live_help</i><b class="faq w3-large">Вдруг собака начнет нервничать. Надо ли мне ее держать?</b></div>
		<div class="w3-container w3-light-grey w3-hide" id="qthree"><blockquote class="w3-panel w3-leftbar w3-light-grey"><i>Если у Вас собака – лучше подождите в другом помещении, мы справимся сами. Собаки спокойнее себя ведут без присутствия хозяина. Не переживайте, мы найдем подход к Вашему питомцу, успокоим его, угостим вкусным снеком!</i></blockquote ></div>
	</div>
	<!-- end FAQ -->

<!-- adventage -->
		
	<div class="outbd">
		<div class="insidebd"></div>	
	</div>
	<div class="w3-container w3-center" style="margin-top: 30px;">
		<img src="static/images/otbivka5.jpg" alt="otbivka" class="otbivka w3-image">
	</div>	
<a name="adv"></a>
	<div class="w3-container w3-center block" style="margin-top: 20px;">
		<div class="w3-panel">
			<div class="w3-panel" style="color: #a21a5c;"><b class="w3-xlarge">НАШИ ПРЕИМУЩЕСТВА</b></div>
			
			<p><b class="w3-xlarge">4 причины, почему Вы и Ваш питомец останетесь довольны</b></p>
		</div>
	</div>

	<div class="w3-container">
		
	<div class="w3-row-padding w3-margin-top">

		<div class="w3-quarter w3-mobile w3-center">
			<img src="static/images/kosmetica.jpg" class="w3-image" style="width: 50%;">
			<div class="w3-panel">
				<b class="w3-large w3-margin-left">Профессиональная косметика</b>
			</div>
			<div class="w3-panel">
				Мы исполдьзуем только проф. косметику, которая подходит имеено Вашему питомцу
			</div>
		</div>

		<div class="w3-quarter w3-mobile w3-center">
			<img src="static/images/prof.jpg" class="w3-image" style="width: 50%;">
			<div class="w3-panel">
				<b class="w3-large w3-margin-left">Опытный грумер</b>
			</div>
			<div class="w3-panel">работает только опытный грумер, который имеет большой опыт работы с животными</div>
		</div>

		<div class="w3-quarter w3-mobile w3-center">
			<img src="static/images/tools.jpg" class="w3-image" style="width: 50%;">
			<div class="w3-panel">
				<b class="w3-large w3-margin-left">Профессиональный инструмент</b>
			</div>
			<div class="w3-panel">
				все проедуры выполняются только профессиональным инструметом от ведущих мировых производителей
			</div>
		</div>

		<div class="w3-quarter w3-mobile w3-center">
			<img src="static/images/krest.jpg" class="w3-image" style="width: 50%;">
			<div class="w3-panel">
				<b class="w3-large w3-margin-left">Никаких уколов</b>
			</div>
			<div class="w3-panel">все процедуры производятся без приминения наркоза и других препаратов</div>
		</div>

	</div>	

	</div>

<hr>

<!-- ENDadventage -->

<!-- Gallery -->

<!--<div class="outbd">-->
<!--	<div class="insidebd"></div>	-->
<!--</div>-->

<!--<div class="w3-container w3-center">-->
<!--	<div class="w3-panel" style="color: #a21a5c;"><b class="w3-xlarge">ГАЛЛЕРЕЯ МОИХ РАБОТ</b></div>-->
<!--	<p><b class="w3-large w3-margin-left">Здесь Вы можете увидеть мои работы</b></p>-->
<!--</div>-->

<!-- ENDGallery -->

<!-- Form -->
<a name="order"></a>
<div class="outbd">
	<div class="insidebd"></div>	
</div>

<form action="" method="post" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin myform">
<h2 class="w3-center">Форма обратной связи</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="name" type="text" placeholder="Ваше имя">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-paw"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="dog" type="text" placeholder="Порода Вашей собаки">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="email" type="text" placeholder="Ваш Email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="phone" type="text" placeholder="Ваш телефон">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
    <div class="w3-rest">
    <textarea class="w3-input w3-border" name="msg" placeholder="Введите Ваше сообщение" rows="5"></textarea>
    </div>
</div>

<button class="w3-button w3-block w3-section w3-round-large w3-ripple w3-padding" style="background-color: #50b9b4; color: yellow;">Отправить</button>

</form>
<!-- ENDForm -->

	<!-- footer -->
	<div class="w3-container" id="footer">
		<div class="w3-center">
			<p>
					<div class="w3-bar">
						<div class="w3-bar-item social instagram">
							<a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
						</div>
						<div class="w3-bar-item social facebook">
							<a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
						</div>
						<div class="w3-bar-item social vk">
							<a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
						</div>
						<div class="w3-bar-item social odnoklassniki">
							<a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>
						</div>
						<div class="w3-bar-item w3-mobile social viber">
							<a href="#" target="_blank"><i class="fa fa-viber fa-2x"></i></a>
						</div>
					</div>
			</p>
		</div>
	
			<p>
				&copy; Fiflippov Kirill; Powered on <a href="http://flask.pocoo.org/">Flask</a>
				and <a href="https://www.w3schools.com/w3css/default.asp">W3.CSS</a> 2018
			</p>
					
	</div>

<script src="static/js/custom.js"></script>
<script src="static/js/gall.js"></script>
<!-- #a21a5c -->
</body>
</html>
