<!DOCTYPE html>
<html>
<title>Grooming</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Собственный стиль -->
<link rel="stylesheet" href="static/css/style.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

	<!-- menu -->
	<div class="w3-container w3-top">
		<div class="w3-bar w3-card w3-padding-small">
			<div class="w3-bar-item"><i class="fa fa-phone w3-bar-item w3-large w3-btn w3-round-large w3-teal w3-ripple"></i><span class="w3-margin">+375 29 842-31-62</span></div>
			<div class="w3-right">
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>

				<a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-teal w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
			</div>
		</div>

		<div id="demo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium">
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
		</div>

	</div>

	
	<!-- Header -->
	<!-- класс header задает маргин сверху в файле стилей -->
	<header class="w3-container header">
		<div class="w3-row-padding w3-text-white w3-card" id="logo">
			<div class="w3-half w3-padding-16"><img src="static/images/logo.jpg" alt="Logo" class="w3-image" style="width:40%"></div>
			<div class="w3-half">
				<div class="w3-panel w3-padding-16 w3-xlarge" id="addr">
					Пр-т Строителей 60, к.3 кв 129 <br>
					Ежедневно 9:00 - 20:00 <br>
				</div>  
			</div>
		</div>
	</header>

	<!-- Slider -->
	<div class="w3-container">
		<img src="static/images/img1.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<img src="static/images/img2.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<img src="static/images/img3.jpg" alt="Dog" class="w3-image w3-card dogimg">
	</div>
	
	<!-- services -->
	<!-- otbivka -->
	<div class="w3-container w3-center block" style="margin-top: 50px;">
		<img src="static/images/otbivka.jpg" alt="otbivka" class="otbivka w3-image">
		<div class="w3-panel">
			<b class="w3-large">После визита к нам</b> <br><span class="w3-xlarge txt"><strong>ВАШ ПИТОМЕЦ БУДЕТ НЕОТРАЗИМ!</strong></span>
		</div>
		<div class="w3-panel">
			<button class="w3-button w3-teal w3-round-xxlarge">ЗАПИСАТЬСЯ НА СТРИЖКУ</button>
		</div>
	</div>

	<div class="w3-container w3-center block">
		<img src="static/images/otbivka2.jpg" alt="otbivka" class="otbivka w3-image">
		<div class="w3-panel">
			<p><strong class="w3-xlarge txt">Полный комлекс услуг для собак</strong></p>
		</div>
	</div>
	<hr>

	<!-- services icons -->
		
			<div class="w3-row-padding w3-margin-top">
				<div class="w3-half w3-mobile w3-center">
					<img src="static/images/trimming.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Стрижка</b>
					</div>
				</div>
				<div class="w3-half	 w3-mobile w3-center">
					<img src="static/images/koltun.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Вычесывание колтунов</b>
					</div>
				</div>
			</div>	
	<hr>

	<div class="w3-row-padding w3-margin-top">
				<div class="w3-half w3-mobile w3-center">
					<img src="static/images/kupanie.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Купание</b>
					</div>
				</div>
				<div class="w3-half	 w3-mobile w3-center">
					<img src="static/images/sushka.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Сушка</b>
					</div>
				</div>
			</div>	
	<hr>

	<div class="w3-row-padding w3-margin-top">
				<div class="w3-half w3-mobile w3-center">
					<img src="static/images/kogti.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Подстригание когтей</b>
					</div>
				</div>
				<div class="w3-half	 w3-mobile w3-center">
					<img src="static/images/chistka.jpg" class="w3-image" style="width: 40%;">
					<div class="w3-panel">
						<b class="w3-large w3-margin-left">Чистка глаз и ушей</b>
					</div>
				</div>
			</div>	
	<hr>

	<!-- price -->

	<!-- otbivka -->
	<div class="w3-container w3-center block" style="margin-top: 50px;">
		<img src="static/images/otbivka3.jpg" class="otbivka w3-image">
		<div class="w3-panel">
			<b class="w3-large">Цены на услуги</b> <br>
		</div>
	</div>

<script src="static/js/custom.js"></script>
<!-- #a21a5c -->
</body>
</html>
