<!DOCTYPE html>
<html>
<title>Grooming</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Собственный стиль -->
<link rel="stylesheet" href="static/css/style.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

	<!-- menu -->
	<div class="w3-container w3-top">
		<div class="w3-bar w3-card w3-padding-small">
			<div class="w3-bar-item"><i class="fa fa-phone w3-bar-item w3-large w3-btn w3-round-large w3-teal w3-ripple"></i> +375 29 842-31-62</div>
			<div class="w3-right">
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>
				<a href="" class="w3-bar-item w3-btn w3-hover-teal w3-mobile w3-hide-small">Ссылка</a>

				<a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-teal w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
			</div>
		</div>

		<div id="demo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium">
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
			  <a href="#" class="w3-bar-item w3-button w3-hover-pale-green">Ссылка</a>
		</div>

	</div>

	
	<!-- Header -->
	<header class="w3-container w3-padding-large w3-margin-top">
		<div class="w3-row-padding w3-text-white w3-card" id="logo">
			<div class="w3-half w3-padding-16"><img src="static/images/logo.jpg" alt="Logo" class="w3-image" style="width:40%"></div>
			<div class="w3-half">
				<div class="w3-panel w3-padding-16 w3-xlarge" id="addr">
					Пр-т Строителей 60, к.3 кв 129 <br>
					Ежедневно 9:00 - 20:00 <br>
				</div>  
			</div>
		</div>
	</header>

	<!-- Slider -->
	<div class="w3-container">
		<img src="static/images/img1.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<img src="static/images/img2.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<img src="static/images/img3.jpg" alt="Dog" class="w3-image w3-card dogimg">
		<img src="static/images/img4.jpg" alt="Dog" class="w3-image w3-card dogimg">
	</div>

	<!-- services -->
	<div class="w3-container w3-margin">
	<div class="w3-container w3-center w3-padding">
		<h2>Наши услуги</h2>
	</div>

	<div class="w3-container w3-mobile">
	<div class="w3-row-padding">
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow w3-round-xlarge">
				<li class="w3-large w3-padding-16 w3-teal">
					<i class="fa fa-paw w3-jumbo"></i>
				</li>
				<li class="w3-text-teal w3-padding-16"><h3>Стрижка</h3></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe aliquid sit recusandae, expedita temporibus quibusdam. Odit atque voluptates reprehenderit quae ipsum! Reiciendis possimus aliquid eius expedita nisi minima illo.</li>
				<li><button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button></li>
			</ul>
		</div>
	
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow w3-round-xlarge">
				<li class="w3-large w3-padding-16 w3-teal">
					<i class="fa fa-paw w3-jumbo"></i>
				</li>
				<li class="w3-text-teal w3-padding-16"><h3>Триминг</h3></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe aliquid sit recusandae, expedita temporibus quibusdam. Odit atque voluptates reprehenderit quae ipsum! Reiciendis possimus aliquid eius expedita nisi minima illo.</li>
				<li><button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button></li>
			</ul>
		</div>
	
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow w3-round-xlarge">
				<li class="w3-large w3-padding-16 w3-teal">
					<i class="fa fa-paw w3-jumbo"></i>
				</li>
				<li class="w3-text-teal w3-padding-16"><h3>Купание</h3></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe aliquid sit recusandae, expedita temporibus quibusdam. Odit atque voluptates reprehenderit quae ipsum! Reiciendis possimus aliquid eius expedita nisi minima illo.</li>
				<li><button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button></li>
			</ul>
		</div>
	</div>
	</div>
	
	
	<div class="w3-container">
	<div class="w3-row-padding">
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow w3-round-xlarge">
				<li class="w3-large w3-padding-16 w3-teal">
					<i class="fa fa-paw w3-jumbo"></i>
				</li>
				<li class="w3-text-teal w3-padding-16"><h3>Чистка глаз и ушей</h3></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe aliquid sit recusandae, expedita temporibus quibusdam. Odit atque voluptates reprehenderit quae ipsum! Reiciendis possimus aliquid eius expedita nisi minima illo.</li>
				<li><button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button></li>
			</ul>
		</div>
	
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow w3-round-xlarge">
				<li class="w3-large w3-padding-16 w3-teal">
					<i class="fa fa-paw w3-jumbo"></i>
				</li>
				<li class="w3-text-teal w3-padding-16"><h3>Стрижка когтей</h3></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe aliquid sit recusandae, expedita temporibus quibusdam. Odit atque voluptates reprehenderit quae ipsum! Reiciendis possimus aliquid eius expedita nisi minima illo.</li>
				<li><button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button></li>
			</ul>
		</div>
	
		<div class="w3-third w3-margin-bottom">
			<ul class="w3-ul w3-border w3-center w3-hover-shadow w3-round-xlarge">
				<li class="w3-large w3-padding-16 w3-teal">
					<i class="fa fa-paw w3-jumbo"></i>
				</li>
				<li class="w3-text-teal w3-padding-16"><h3>Почухать собаку</h3></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe aliquid sit recusandae, expedita temporibus quibusdam. Odit atque voluptates reprehenderit quae ipsum! Reiciendis possimus aliquid eius expedita nisi minima illo.</li>
				<li><button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button></li>
			</ul>
		</div>
	</div>
	</div>
	</div>

	<!-- 3 block -->
	<div class="w3-container w3-mobile w3-padding-large w3-margin-top w3-card" id="visit">
		<h3 class="w3-center">После визита к нам Ваш питомец будет неотразим!</h3>
		<div class="w3-row-padding w3-center" style="margin-top: 64px;">
			<div class="w3-quarter"><img src="static/images/ab1.jpg" class="abjpg w3-hover-opacity w3-image w3-card" onclick="onClick(this)" alt="До и после"></div>
			<div class="w3-quarter"><img src="static/images/ab2.jpg" class="abjpg w3-hover-opacity w3-image w3-card" onclick="onClick(this)" alt="До и после"></div>
			<div class="w3-quarter"><img src="static/images/ab3.jpg" class="abjpg w3-hover-opacity w3-image w3-card" onclick="onClick(this)" alt="До и после"></div>
			<div class="w3-quarter"><img src="static/images/ab4.jpg" class="abjpg w3-hover-opacity w3-image w3-card" onclick="onClick(this)" alt="До и после"></div>
		</div>
		<div class="w3-panel w3-center">
			<button class="w3-button w3-teal w3-hover-blue w3-round-xxlarge">Заказать услугу</button>
		</div>
	</div>

	<div class="w3-modal" id="modal01" onclick="this.style.display='none'">
		<i class="fas fa-window-close w3-button w3-hover-teal w3-xlarge w3-display-topright"></i>
		<div class="w3-modal-content w3-animate-zoom"><img src="" style="width: 100%;" alt="" id="img01"></div>
	</div>

<script src="static/js/custom.js"></script>
</body>
</html>
