<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Главная</title>
</head>
<body>
    <div class="w3-container">
        <h2 class="w3-center">Главная страница</h2>
        <div class="w3-panel ц3-card-4">Тут я подготовлю для тебя несколько шаблонов,
            и ты сможешь их просматривать, Олесечка дорогая моя</div>
    </div>
</body>
</html>